@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.TestimonMain {
    background-color: #F7FDFF;
    height:auto;
    min-height: 484px;
    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
    font-family: 'Poppins', sans-serif;

}

.TestimonContent {
    height: auto;
    max-width: 1240px;
    width: 100%;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.TestimonHeading {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
}

.Testimonperson {
    display: flex;
    flex-direction: row;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

.Testimonperson > div {
    flex: 1;
    min-width: 150px; /* Adjust this value as needed */
    max-width: 100%;
}

.Testimonperson img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .TestimonMain {
        padding: 30px 10px;
    }

    .TestimonContent {
        padding: 20px;
    }

    .TestimonHeading {
        justify-content: center;
    }

    .Testimonperson {
        flex-direction: column;
        align-items: center;
    }

    .Testimonperson img{
        max-width: 100%;
        height: auto;
    }

    .Testimonperson > div {
        width: 100%;
        max-width: 400px; 
    }
}

@media (max-width: 480px) {
    .TestimonMain {
        padding: 20px 5px;
        height:auto;
    }

    .TestimonContent {
        padding: 15px;
        height:auto;
    }

    .TestimonHeading {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .Testimonperson {
        flex-direction: column;
        align-items: center;
        max-width: 100%;
    }

    .Testimonperson img {
        max-width: 100%;
    }
}